[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
jedi = "*"

[packages]
requests = "*"
markdownify = "*"
"bs4" = "*"
canvasapi = "*"
pathvalidate = "*"

[requires]
python_version = "3.8"
